# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
ENV/
env/
*.venv

# IDE and editor directories
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Data files
*.png
*.jpg
*.jpeg
*.gif

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook specific
.ipynb_checkpoints/

# Build and distribution directories
build/
dist/
*.egg-info/

# Environment variables
.env

# Coverage reports
.coverage
*.cover
*.py,cover

# Temporary files
*.swp
*.swo
*.tmp
